// Main Colors

@black-base: #000;
@gray: lighten(@black-base, 26.7%);
@light-gray: lighten(@gray, 33.3%);
@lighter-gray: lighten(@light-gray, 36.1%);
@primary: blue;
@secondary: #f5f5f5;
@tertiary: #eaeaea;
@error: red;
@warning: yellow;
@success: green;

// Text
@base-font-size: 12px;
@base-line-height: ceil(@base-font-size * 1.5); /* 18px */
@base-text-color: @gray;

// Tables
@table-border-color: lighten(@light-gray, 22%);
